.content {
    margin: 50px 200px 100px 250px;
}
.grid {
    flex-wrap: wrap;
    display: grid;
    grid-gap: 30px; 
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.tile {
    width: 150px;
    height: 100px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #999;
}
